#lista_dre{
	width:100%;
	margin:0 auto;
}
#lista_dre tr th,#lista_dre tr td{
	border-spacing: 0;
	border-collapse: collapse;
	border:1px solid lightgray;
}
#lista_dre tr td{
	padding:0 5px;
	font-size:10px;
}
#lista_dre tr th{
	padding:5px;
	color:white;
	background-color: #333333;
}
#retornar{
	float: left;
	margin-bottom: 10px;
	line-height: 30px;
}
.money{
	margin:5px !important;
	width:150px;
	text-align:right;
}
.salvar{
	position:absolute;
	bottom:0;
	right:0;
	width:100px;
	padding:5px 0;
}
#form_dre{
	position:relative;
	padding-bottom: 50px;
}
#datas-dre{
	float:right;
}
#datas-dre label,#datas-dre select{
	display:inline-block;
	vertical-align:middle;
	margin-bottom:10px;
}
#datas-dre label{
	margin-right:10px;
}
.col-valor{
	text-align:right;
	width:60px;
}
.col-description td	{
	text-align:center;
}
.col-description{
	background-color:rgb(245, 245, 127);
}