#lista_dre{
	width:100%;
	margin:0 auto;
}
#lista_dre tr th,#lista_dre tr td{
	border-spacing: 0;
	border-collapse: collapse;
	border:1px solid lightgray;
	padding:5px;
}
#lista_dre tr th{
	color:white;
	background-color: #333333;
}
#adicionar-dre{
	float: right;
	margin-bottom: 15px;
}